body {
  font-family: "Radio Canada Big", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #1e1e1e;
}

.link-button {
  text-decoration: none;
  color: #1e1e1e;
  margin: 0 15px;
  font-size: 16px;
}

.link-button:hover {
  color: #006ce0;
}

.download-button {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 7px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.download-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Hamburger Menu Styles */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

/* Estilo do content */
hr.solid {
  border-top: 1px solid #c3c3c3;
}

span {
  font-weight: 600;
}

.content-mobile {
  display: none;
}

.content {
  animation: appear 1s ease-in-out;
  margin: 2rem 8rem;
  align-content: center;
}

.content-1 {
  margin-bottom: 2rem;
}

.content-1 h1 {
  margin-bottom: 2rem;
}

.content-1 p {
  margin-bottom: 0.8rem;
}

.content-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-2 h2 {
  margin-bottom: 2rem;
}

.content-2 p {
  margin-bottom: 0.8rem;
}

.content-3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-3 h3 {
  margin-bottom: 1.5rem;
}

.content-3 p {
  margin-bottom: 1rem;
}

.content-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-4 h2 {
  margin-bottom: 2rem;
}

.content-4 p {
  margin-bottom: 0.8rem;
}

.content-4 a {
  color: black;
}

/* Call-to-Action Section */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0070e8;
  color: #fff;
  height: 60vh;
}

.cta-content {
  margin-bottom: 4rem;
}

.cta h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cta p {
  font-size: 1.25em;
  margin-bottom: 40px;
}

.cta-button {
  padding: 15px 30px;
  background-color: #fff;
  color: #027bfe;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover,
.cta-button:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
footer {
  background-color: #0b1625;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer-logo img.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ddd;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #aaa;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #menu-toggle:checked + .menu-icon + .nav {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .link-button,
  .download-button {
    margin: 10px 0;
    text-align: center;
  }

  .download-button {
    margin-bottom: 30px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 18px;
  }

  /* Estilo do content */
  .content {
    display: none;
  }

  .content-mobile {
    animation: appear 1s ease-in-out;
    display: contents;
    font-family: "Poppins", sans-serif;
  }

  .content-1-mobile {
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
  }

  .content-1-mobile h1 {
    margin-bottom: 2rem;
  }

  .content-1-mobile p {
    margin-bottom: 0.8rem;
  }

  .content-2-mobile {
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content-2-mobile h2 {
    margin-bottom: 2rem;
  }

  .content-2-mobile p {
    margin-bottom: 0.8rem;
  }

  .content-3-mobile {
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content-3-mobile h3 {
    margin-bottom: 1.5rem;
  }

  .content-3-mobile p {
    margin-bottom: 1rem;
  }

  .content-4-mobile {
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content-4-mobile h2 {
    margin-bottom: 2rem;
  }

  .content-4-mobile p {
    margin-bottom: 0.8rem;
  }

  .content-4-mobile a {
    color: black;
  }
}
