body {
  font-family: "Radio Canada Big", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #1e1e1e;
}

.link-button {
  text-decoration: none;
  color: #1e1e1e;
  margin: 0 15px;
  font-size: 16px;
}

.link-button:hover {
  color: #006ce0;
}

.link-button-selected {
  text-decoration: none;
  color: #006ce0;
  margin: 0 15px;
  font-size: 16px;
  background-color: #d2e9ff;
  border-radius: 8px;
  padding: 7px;
}

.download-button {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 7px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.download-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Release Notes Section */
.features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45vh;
}

.section-subtitle {
  color: #007bff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-title {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
}

/* Versions list */
.version-history-list {
  margin-bottom: 8rem;
}

.version-history {
  font-family: Arial, sans-serif;
  color: #666;
  max-width: 400px;
  margin: 0 auto;
}

.version-history a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: #1E1E1E;
  padding: 10px;
}

.version-history a:hover {
  background-color: #d2e9ff;
  border-radius: 10px;
}

.version {
  font-size: 20px;
  font-weight: bold;
}

.date {
  font-size: 16px;
  font-weight: 100;
  color: gray;
}

/* Call-to-Action Section */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0070e8;
  color: #fff;
  height: 60vh;
}

.cta-content {
  margin-bottom: 4rem;
}

.cta h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cta p {
  font-size: 1.25em;
  margin-bottom: 40px;
}

.cta-button {
  padding: 15px 30px;
  background-color: #fff;
  color: #027bfe;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover,
.cta-button:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
footer {
  background-color: #0b1625;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer-logo img.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ddd;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #aaa;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}
